<div class="contents-sub-main">
  <div class="sub-contents-header">
    <p>入力・編集フォーム</p>
    <p class="hide-form-btn pointer centering">▲</p>
    <p class="hide-form-btn pointer centering" style="display:none;">▼</p>
  </div>
  <div class="switch-btns">
    <div class="spend-btn pointer">支出</div>
    <div class="income-btn pointer">収入</div>
  </div>
  <div class="spend-form-wrapper">
    <%= render partial: 'spends/spend-form', locals: { spend_edit: false } %>
  </div>
  <div class="sub-contents-header">
    <p>26日の支出・収入一覧</p>
    <p class="hide-form-btn pointer centering">▲</p>
    <p class="hide-form-btn pointer centering" style="display:none;">▼</p>
  </div>
  <div class="switch-btns">
    <div class="spend-btn pointer">支出</div>
    <div class="income-btn pointer">収入</div>
  </div>
  <div class="a-day-spend-list">
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
    <div class="a-day-spend-info">
      <p class="a-day-category-info centering">食費</p>
      <p class="a-day-money-info centering">1200円</p>
      <p class="a-day-memo-info">友人と外食に行った。</p>
    </div>
  </div>
</div>
<div class="contents-sub-bar centering pointer">◀︎</div>