<div class="container">
  <%= render partial: 'layouts/container-header' %>
  <div class="contents">
    <div class="contents-sub">
      コンテナ（サブ）
    </div>
    <div class="contents-main">
      コンテナ（メイン）
    </div>
    <div class="contents-hidden">
    </div>
  </div>
</div>
