.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer:hover {
  cursor: pointer;
}

.header {
  height: 70px;
  background-color: rgb(143, 254, 217);
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  height: calc(100vh - 70px);
}

.side-bar {
  width: 50px;
  background-color: bisque;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: calc(100vw - 50px);
}

.container-header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(225, 250, 225);
}

.sum {
  height: 85%;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sum-title {
  font-size: 17px;
}

.sum-money {
  height: 88%;
  width: 170px;
  margin: 0 5px 0 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 23px;
  border: 1px solid black;
  padding-right: 5px;
}

.yen {
  font-size: 18px;
}

.contents {
  height: calc(100% - 45px);
  display: flex;
}

.contents-sub {
  width: 275px;
  border: 2px solid black;
  border-left: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  display: flex;
}

.contents-main {
  width: 100%;
}

.contents-hidden {
  display: none;
}