<div class="contents-sub-main">
  <div class="sub-contents-header">
    <p>カテゴリ入力フォーム</p>
    <p class="hide-form-btn pointer centering">▲</p>
    <p class="hide-form-btn pointer centering" style="display:none;">▼</p>
  </div>
  <div class="switch-btns">
    <div class="spend-btn pointer">支出</div>
    <div class="income-btn pointer">収入</div>
  </div>
  <div class="category-form-wrapper centering">
    <%= render partial: 'categories/category-form' %>
  </div>
</div>
<div class="contents-sub-bar centering pointer">◀︎</div>