<div class="container-header">
  <div class="sum"><p class="sum-title">合計支出額:</p><span id="spend-sum-money" class="sum-money">132,700,000</span><p class="yen">円</p></div>
  <div class="sum"><p class="sum-title">合計収入額:</p><span id="income-sum-money" class="sum-money">432,254,000</span><p class="yen">円</p></div>
</div>