<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <a href="#" class="logo-btn">Auto家計簿</a>
    </div>
  </div>
  <div class="header-right">
    <a href="#" class="to-last-month"><</a>
    <a href="#" class="to-next-month">></a>
    <div class="header-month">
      <div class="display-year">
        2022
      </div>
      <p class="nen">年</p>
      <div class="display-month">
        7
      </div>
      <p class="gatu">月</p>
    </div>
    <a href="#" class="to-this-month">今月</a>
  </div>
</div>