<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <a href="#" class="logo-btn">Auto家計簿</a>
    </div>
  </div>
  <div class="header-right">
    <div class="header-user">
      <p class="user-name">Ayumu</p>
    </div>
  </div>
</div>