<div class="side-bar">
  <div class="side-bar-top">
    <a class="icon" href="#">
      <div class="calendar-icon"></div>
    </a>
    <a class="icon" href="#">
      <div class="category-icon"></div>
    </a>
    <a class="icon" href="#">
      <div class="fix-icon"></div>
    </a>
    <a class="icon" href="#">
      <div class="graph-icon"></div>
    </a>
  </div>
  <div class="side-bar-bottom">
    <a class="icon" href="#">
      <div class="user-icon"></div>
    </a>
  </div>
</div>