<div class="side-bar">
  <a class="icon" href="#">
    <div class="calendar-icon"></div>
  </a>
  <a class="icon" href="#">
    <div class="category-icon"></div>
  </a>
  <a class="icon" href="#">
    <div class="fix-icon"></div>
  </a>
  <a class="icon" href="#">
    <div class="graph-icon"></div>
  </a>
</div>