<div class="side-bar">
  <div class="side-bar-top">
    <%= link_to year_month_spends_path(@year, @month), class: 'icon' do %>
      <div class="calendar-icon"></div>
    <% end %>
    <%= link_to year_month_categories_path(@year, @month), class: 'icon' do %>
      <div class="category-icon"></div>
    <% end %>
    <a class="icon" href="#">
      <div class="fix-icon"></div>
    </a>
    <a class="icon" href="#">
      <div class="graph-icon"></div>
    </a>
  </div>
  <div class="side-bar-bottom">
    <a class="icon" href="#">
      <div class="user-icon"></div>
    </a>
  </div>
</div>